PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/alertas_emergencia

NOTION_TOKEN=
NOTION_ASEGURADOS_DB_ID=36726cdda1ac80b480bdd3d5ec9450fa
NOTION_POLIZAS_DB_ID=36726cdda1ac8043b7b5d7402d0b725d
NOTION_ALERTAS_DB_ID=36726cdda1ac80bebb85cd3d17a8543c

GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
DESTINATION_HOSPITAL=
DESTINATION_INSURANCE=


