PORT=4000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
DATABASE_URL=file:./dev.db

NOTION_TOKEN=n
NOTION_ASEGURADOS_DB_ID=3
NOTION_POLIZAS_DB_ID=3
NOTION_ALERTAS_DB_ID=3

GEMINI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash
GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant

SMTP_SERVER=s
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
DESTINATION_HOSPITAL=
DESTINATION_INSURANCE=

